
.flourish-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.flourish-iframe {
  position: absolute;
  top: -83px; /* Yukarıdan kesme miktarı */
  left: -52px; /* Soldan kesme miktarı */
  width: calc(100% + 40px); /* Kesme miktarını ekleyin */
  height: calc(100% + 40px); /* Kesme miktarını ekleyin */
  border: none;
}
