.iframe-container {
    overflow: hidden;
    height: 380px;
    position: relative;
  }
  
  .looker-iframe {
    height: 550px;
  }
  
  @media (max-width: 991px) {
    .iframe-container {
      height: 240px;
    }
  
    .looker-iframe {
      height: 240px;
    }
  }
  